*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: PopLight;
  src: url("../fonts/Poppins-Light.ttf");
}

@font-face {
  font-family: PopRegular;
  src: url("../fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: PopLightItalic;
  src: url("../fonts/Poppins-LightItalic.ttf");
}
body {
  /* background: #005AA7; 
      background: -webkit-linear-gradient(to top, #FFFDE4, #005AA7);  */
  /* background-image: linear-gradient(to top, #FFFDE4, #005AA7);  */
  font-family: PopLight;
  background-image: linear-gradient(to right, #787ff6, #4adede);
  padding-bottom: 2vh;
}

header {
  padding: 10px 0px 10px 0px;
}
main {
  padding: 0px 0px 10px 0px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  width: 95%;
  margin: auto;
  background: #5d4954;
  text-align: center;
}

.nav-name {
  color: whitesmoke;
  font-family: PopRegular;
  font-size: 4vh;
  letter-spacing: 0.5vh;
  font-weight: 100px;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  width: 70%;
}
.nav-links li {
  list-style: none;
}

.nav-links a {
  color: whitesmoke;
  text-decoration: none;
  letter-spacing: 0.3vh;
  font-weight: bold;
  font-size: 1.5vh;
}

.burger {
  display: none;
}
.burger div {
  width: 25px;
  height: 3px;
  background-color: whitesmoke;
  margin: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  z-index: 3;
}

@media screen and (max-width: 768px) {
  body {
    overflow-y: hidden;
  }
  .nav-links a {
    color: whitesmoke;
    text-decoration: none;
    letter-spacing: 0.3vh;
    font-weight: bold;
    font-size: 1.6vh;
  }

  .nav-links {
    position: absolute;
    right: 2.5%;
    height: 50vh;
    top: 8vh;
    background: #5d4954;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    z-index: 0;
    transform: translateY(-125%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
  }
}
.nav-active {
  transform: translateX(0%);
}

@keyframes navlinkfade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.main-details {
  height: 80vh;
  width: 95%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3vh 3vh 3vh 3vh;
}
.details {
  flex: 1;
  width: 100%;
  text-align: center;
  margin-top: 10%;
}

.details h4 {
  font-family: PopLight;
  font-size: 6vh;
  font-weight: 200;
}

.buttons {
  flex: 1;
  width: 100%;
  text-align: center;
  margin-top: 10%;
  height: auto;
}
.add-users {
  border: none;
  background: black;
  color: white;
  width: 200px;
  height: 50px;
  cursor: pointer;
  font-size: 3vh;
  font-family: PopRegular;
  letter-spacing: 0.25vh;
  margin: 0vh 2vh 2vh 0vh;
}
.view-users {
  border: none;
  background: black;
  color: white;
  width: 200px;
  height: 50px;
  cursor: pointer;
  font-size: 3vh;
  font-family: PopRegular;
  letter-spacing: 0.25vh;
  margin: 0vh 2vh 2vh 0vh;
}

.upload {
  border: none;
  background: black;
  color: white;
  width: 200px;
  height: 50px;
  cursor: pointer;
  font-size: 3vh;
  font-family: PopRegular;
  letter-spacing: 0.25vh;
  margin: 0vh 2vh 2vh 0vh;
}
.upload:hover,
.download:hover,
.add-users:hover,
.view-users:hover {
  background: white;
  color: black;
}

.download {
  border: none;
  background: black;
  color: white;
  width: 200px;
  height: 50px;
  cursor: pointer;
  font-size: 3vh;
  font-family: PopRegular;
  letter-spacing: 0.25vh;
  margin: 0vh 0vh 2vh 0vh;
}

footer {
  height: auto;
  width: 95%;
  margin: auto;
  background-image: linear-gradient(to right, #041b2d, #428cd4, #384e78);
  align-items: center;
  padding: 1vh;
  text-align: center;
}

.foot h4 {
  font-family: PopLight;
  font-size: 2.5vh;
  font-weight: 200;
  color: whitesmoke;
  letter-spacing: 0.3vh;
}

.popup {
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.popup-content {
  height: 410px;
  width: 500px;
  background-image: linear-gradient(to right, #efefbb, #d4d3dd);
  padding: 20px;
  border-radius: 5px;
  position: relative;
}
.popup-content h4 {
  font-size: 3vh;
  color: #52565a;
  letter-spacing: 0.5vh;
}

input {
  margin: 20px auto;
  display: block;
  width: 70%;
  padding: 8px;
  border-radius: 5px;
  border: none;
  background-color: #f5e4e4;
}
select {
  /* margin: 20px auto; */
  margin: auto;
  display: block;
  width: 70%;
  padding: 8px;
  border-radius: 5px;
  border: none;
  background-color: #f5e4e4;
}
input:focus {
  background-color: rgb(171, 197, 246);
}
.popup-content span {
  display: block;
  margin: 20px auto;
  color: red;
  font-size: 2vh;
  font-weight: lighter;
  font-family: PopRegular;
}
.user-type {
  display: flex;
  align-items: center;
  width: 70%;
  margin: auto;
  padding: 0;
}

.add-user {
  border: none;
  background: black;
  color: white;
  width: 100px;
  height: 40px;
  cursor: pointer;
  font-size: 2vh;
  font-family: PopRegular;
  letter-spacing: 0.25vh;
  margin: auto;
  box-shadow: 6px 6px 29px -4px rgba(0, 0, 0, 0.75);
}
.add-user:hover {
  background: rgb(171, 197, 246);
  color: black;
}
.close {
  position: absolute;
  top: -5px;
  right: 5px;
  font-size: 3vh;
  transform: rotate(45deg);
  cursor: pointer;
  color: #2c2c2c;
}

.close:hover {
  color: #ec7373;
}

.clo {
  position: absolute;
  top: -5px;
  right: 5px;
  font-size: 3vh;
  transform: rotate(45deg);
  cursor: pointer;
  color: #2c2c2c;
}

.clo:hover {
  color: #ec7373;
}

.popup-view {
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.popup-view-content {
  height: 410px;
  width: 500px;
  background-image: linear-gradient(to right, #efefbb, #d4d3dd);
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  position: relative;
  overflow: scroll;
}
.usr-table {
  width: 90%;
  margin: auto;
}
.usr-table h4 {
  font-size: 2.5vh;
}
.table-view-users {
  width: 95%;
  margin: auto;
}
.table-view-users thead {
  background-color: #ec7373;
}
.table-view-users tbody {
  background-color: #efefbb;
}
.delete {
  cursor: pointer;
}

.popup-upload {
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.popup-upload-view {
  height: 410px;
  width: 500px;
  background-image: linear-gradient(to right, #efefbb, #d4d3dd);
  padding: 20px;
  border-radius: 5px;
  position: relative;
}
.upload-clo {
  position: absolute;
  top: -5px;
  right: 5px;
  font-size: 3vh;
  transform: rotate(45deg);
  cursor: pointer;
  color: #2c2c2c;
}

.upload-clo:hover {
  color: #ec7373;
}

.popup-download {
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.popup-download-view {
  height: 200px;
  width: 300px;
  background-image: linear-gradient(to right, #efefbb, #d4d3dd);
  padding: 20px;
  border-radius: 5px;
  position: relative;
}
.download-clo {
  position: absolute;
  top: -5px;
  right: 5px;
  font-size: 3vh;
  transform: rotate(45deg);
  cursor: pointer;
  color: #2c2c2c;
}

.download-clo:hover {
  color: #ec7373;
}
#dwn-submit {
  background-color: rgb(105, 100, 100);
  color: white;
  text-transform: capitalize;
  box-shadow: 6px 6px 29px -4px rgba(0, 0, 0, 0.75);
  cursor: pointer;
}

#dwn-error {
  color: #e92727;
}

.progress 
{
  display:none; 
  position:relative; 
  width:400px; 
  border: 1px solid #ddd; 
  padding: 1px; 
  border-radius: 3px; 
}
.bar 
{ 
  background-color: #B4F5B4; 
  width:0%; 
  height:20px; 
  border-radius: 3px; 
}
.percent 
{ 
  position:absolute; 
  display:inline-block; 
  top:3px; 
  left:48%; 
}


@media screen and (max-width: 768px) {
  .details {
    flex: 1;
    width: 100%;
    text-align: center;
    margin-top: 13%;
  }
  .details h4 {
    font-family: PopLight;
    font-size: 4vh;
    font-weight: 200;
  }
  .buttons {
    flex: 1;
    width: 100%;
    text-align: center;
    margin-top: 5%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .add-users {
    border: none;
    background: black;
    color: white;
    width: 200px;
    height: 50px;
    cursor: pointer;
    font-size: 3vh;
    font-family: PopRegular;
    letter-spacing: 0.25vh;
    margin-left: 12px;
  }
  .view-users {
    border: none;
    background: black;
    color: white;
    width: 200px;
    height: 50px;
    cursor: pointer;
    font-size: 3vh;
    font-family: PopRegular;
    letter-spacing: 0.25vh;
    margin-left: 12px;
  }
  .upload {
    border: none;
    background: black;
    color: white;
    width: 200px;
    height: 50px;
    cursor: pointer;
    font-size: 3vh;
    font-family: PopRegular;
    letter-spacing: 0.25vh;
    margin-left: 12px;
  }

  .download {
    border: none;
    background: black;
    color: white;
    width: 200px;
    height: 50px;
    cursor: pointer;
    font-size: 3vh;
    font-family: PopRegular;
    letter-spacing: 0.25vh;
  }
  .foot h4 {
    font-family: PopLight;
    font-size: 2.5vh;
    font-weight: 200;
    color: whitesmoke;
    letter-spacing: 0vh;
  }
}

@media screen and (max-width: 768px) {
  .popup {
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .popup-content {
    height: 390px;
    width: 300px;
    background-image: linear-gradient(to right, #efefbb, #d4d3dd);
    padding: 20px;
    border-radius: 5px;
    position: relative;
  }
  .popup-view {
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .popup-view-content {
    height: 390px;
    width: 300px;
    background-image: linear-gradient(to right, #efefbb, #d4d3dd);
    padding: 20px;
    border-radius: 5px;
    position: relative;
  }
  .popup-upload {
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .popup-upload-view {
    height: 390px;
    width: 300px;
    background-image: linear-gradient(to right, #efefbb, #d4d3dd);
    padding: 20px;
    border-radius: 5px;
    position: relative;
  }
  .popup-download {
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .popup-download-view {
    height: 200px;
    width: 250px;
    background-image: linear-gradient(to right, #efefbb, #d4d3dd);
    padding: 20px;
    border-radius: 5px;
    position: relative;
  }
  input {
    margin: 20px auto;
    display: block;
    width: 90%;
    padding: 8px;
    border-radius: 5px;
    border: none;
    background-color: #f5e4e4;
  }
  select {
    margin: auto;
    display: block;
    width: 90%;
    padding: 8px;
    border-radius: 5px;
    border: none;
    background-color: #f5e4e4;
  }
  .user-type {
    display: flex;
    align-items: center;
    width: 70%;
    margin: auto;
    padding: 0;
  }
}
