*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: PopLight;
  src: url("../fonts/Poppins-Light.ttf");
}

@font-face {
  font-family: PopRegular;
  src: url("../fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: PopLightItalic;
  src: url("../fonts/Poppins-LightItalic.ttf");
}
body {
  /* background: #005AA7; 
      background: -webkit-linear-gradient(to top, #FFFDE4, #005AA7);  */
  /* background-image: linear-gradient(to top, #FFFDE4, #005AA7);  */
  font-family: PopLight;
  background-image: linear-gradient(to right, #787ff6, #4adede);
  padding-bottom: 2vh;
}

header {
  padding: 10px 0px 10px 0px;
}
main {
  padding: 0px 0px 10px 0px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  width: 95%;
  margin: auto;
  background: #5d4954;
  text-align: center;
}

.nav-name {
  color: whitesmoke;
  font-family: PopRegular;
  font-size: 4vh;
  letter-spacing: 0.5vh;
  font-weight: 100px;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  width: 70%;
}
.nav-links li {
  list-style: none;
}

.nav-links a {
  color: whitesmoke;
  text-decoration: none;
  letter-spacing: 0.3vh;
  font-weight: bold;
  font-size: 1.5vh;
}

.burger {
  display: none;
}
.burger div {
  width: 25px;
  height: 3px;
  background-color: whitesmoke;
  margin: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  z-index: 3;
}

.view_school_btns {
  position:fixed;
  display: flex;
  flex-direction: row;
  width: inherit;
  height: auto;
  margin: auto;
  justify-content: space-between;
  z-index: 2;
  background-image: linear-gradient(to right, #787ff6, #4adede);
  padding: 3vh;
}
.view-school {
  border: none;
  background: black;
  color: white;
  width: 150px;
  height: 40px;
  cursor: pointer;
  font-size: 2vh;
  font-family: PopRegular;
  letter-spacing: 0.15vh;
  cursor: not-allowed;
  opacity: 0.5;
}

.view-student {
  border: none;
  background: black;
  color: white;
  width: 150px;
  height: 40px;
  cursor: pointer;
  font-size: 1.5vh;
  font-family: PopRegular;
  letter-spacing: 0.15vh;
  float: right;

}

.view-school-table{
  margin-top:100px;
}


.scl-delete-btn:hover {
  cursor: pointer;
}
.scl-delete-btn img {
  height: 25px;
  width: 25px;
}

.scl-update-btn a img {
  height: 30px;
  width: 30px;
}

.popup-cng-pwd {
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 8;
}

.popup-content-cng-pwd {
  height: 350px;
  width: 380px;
  background-image: linear-gradient(to right, #efefbb, #d4d3dd);
  padding: 20px;
  border-radius: 5px;
  position: relative;
}
.popup-content-cng-pwd h4 {
  font-size: 3vh;
  color: #52565a;
  letter-spacing: 0.2vh;
  font-weight: 100;
  margin-bottom: 10px;
}

.popup-content-cng-pwd p {
  font-style: oblique;
}

.cng-pwd-close {
  position: absolute;
  top: -5px;
  right: 5px;
  font-size: 3vh;
  transform: rotate(45deg);
  cursor: pointer;
  color: #2c2c2c;
}

.cng-pwd-close:hover {
  color: #ec7373;
}

.cng-pwd-error {
  display: block;
}

.cng-pwd-btn {
  border: none;
  background: black;
  color: white;
  width: 80px;
  height: 30px;
  cursor: pointer;
  font-size: 1.5vh;
  font-family: PopRegular;
  letter-spacing: 0.15vh;
  margin-top: 5px;
  box-shadow: 6px 6px 29px -4px rgba(0, 0, 0, 0.75);
}

.cng-pwd,
.re-cng-pwd {
  margin: 20px auto;
  display: block;
  width: 70%;
  padding: 8px;
  border-radius: 5px;
  border: none;
  background-color: #f5e4e4;
}

.cng-pwd:focus,
.re-cng-pwd:focus {
  background-color: rgb(171, 197, 246);
}

@media screen and (max-width: 768px) {
  body {
    overflow-y: hidden;
  }
  .nav-links a {
    color: whitesmoke;
    text-decoration: none;
    letter-spacing: 0.3vh;
    font-weight: bold;
    font-size: 1.6vh;
  }

  .nav-links {
    position: absolute;
    right: 2.5%;
    height: 50vh;
    top: 8vh;
    background: #5d4954;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    z-index: 5;
    transform: translateY(-125%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
  }
}
.nav-active {
  transform: translateX(0%);
}

@keyframes navlinkfade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.main-details {
  height: 80vh;
  width: 95%;
  margin: auto;
  align-items: center;
  padding: 0vh 0vh 3vh 0vh;
  overflow-y: scroll;
}

footer {
  height: auto;
  width: 95%;
  margin: auto;
  background-image: linear-gradient(to right, #041b2d, #428cd4, #384e78);
  align-items: center;
  padding: 1vh;
  text-align: center;
}
tr {
  text-align: center;
}
td {
  align-items: center;
}

.foot h4 {
  font-family: PopLight;
  font-size: 2.5vh;
  font-weight: 200;
  color: whitesmoke;
  letter-spacing: 0.3vh;
}
@media screen and (max-width: 768px) {
  .details {
    flex: 1;
    width: 100%;
    text-align: center;
    margin-top: 13%;
  }
  .foot h4 {
    font-family: PopLight;
    font-size: 2.5vh;
    font-weight: 200;
    color: whitesmoke;
    letter-spacing: 0vh;
  }
}
